/* Estilo cabeçalho*/

header {
    padding: 40px 4%;

}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #d1d1d1;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 0px 40px;

}

